* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEE;
}

/*Primera sección*/

.wallpaper {
    width: 1536px;
    height: 840px;
}

.fondo-1-1 {
    width: 1000px;
    height: 200px;
    background-image: url(./img/Fondo-1-1.jpg);
    position: absolute;
    left: 470px;
    top: 300px;
    z-index: -3;
}

.photo_uno {
    border-radius: 50%;
    width: 240px;
    height: 260px;
    margin-top: 150px;
    margin-left: 100px;
    box-shadow: 0 0 10px #555;
    box-shadow: 0 0 40px #555;
    box-shadow: 0 0 80px #555;
}

h1 {
    font-size: 5em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 7px #000;
}

.line {
    border-bottom: 3px solid #69010A;
    box-shadow: 0 0 20px #69010A;
    margin: 10px;
}

.container-presentation {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    padding: 30px;
    background-image: url(./img/Fondo-2.jpg);
    background-size: cover;
    width: 800px;
    height: 500px;
    margin-left: 570px;
    margin-top: -380px;
    box-shadow: 0 0 40px #000,
    0 0 10px #FFF;
    border-radius: 5px;
    font-weight: 600;
}

.arrow {
    width: 100px;
    position: absolute;
    left: 700px;
    top: 700px;
    animation: bajar 1.3s linear infinite;
}

@keyframes bajar {
    0% {
        top: 700px;
        left: 700px;
    }

    50% {
        top: 730px;
        left: 700px;
    }

    100% {
        top: 700px;
        left: 700px;
    }
}

.photo_2 {
    width: 240px;
    position: absolute;
    top: 280px;
    left: 620px;
    border-radius: 10px 20px 10px 30px;
}

/*Sección dos*/

.container-sections {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    background-color: #000;
    padding: 40px;
    box-shadow: 0 0 10px #000;
}

h2 {
    position: absolute;
    left: 670px;
    color: #BBB;
    text-shadow: 0 0 4px #9F1AC6;
}

h2 span {
	position: absolute;
	right: 0;
	width: 0;
	background: #000;
	border-left: 2px solid #fff;

	animation: maquina 4s infinite alternate steps(36);
}

@keyframes maquina {
	0% {
		width: 100%;
	}

	100% {
		width: 0%;
	}
}

.photo-3 {
    width: 400px;
}

.work_presentation {
    display: inline-flex;
}

.wallpaper_2 {
    width: 700px;
    height: 400px;
    background-image: url(./img/Foto-7.jpeg);
    background-size: cover;
    position: absolute;
    left: 600px;
    top: 970px;
}

/*Tercera parte, ajuste de fotografías*/

.container-galery {
    margin: 50px;
    background-image: url(./img/Fondo-3.jpg);
    background-size: cover;
}

.foto {
    width: 400px;
    margin: 35px;
    transform: rotate(2deg);
    filter: blur(2px);
}

.foto:hover {
    border: 8px solid #FFF;
    transition: .7s;
    filter: blur(0px);
}

.socialNetworks {
    background-color: #000000;
    padding: -30px;
    box-shadow: 0 0 5px #000011;
    height: 130px;
}

.social {
    width: 50px;
    margin: 40px;
}

.social:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.mySocialNetworks {
    color: #FFF;
    font-family: 'Special Elite', cursive;
    margin-left: 700px;
    margin-top: -90px;
    font-size: 50px;
}

/*Responsive design*/

@media (max-width: 340px) {
    h1 {
        position: absolute;
        left: 60px;
        font-size: 30px;
        padding: 20px;
        max-width: 100%;
        color: #000;
    }

    .line {
        border-bottom: none;
    }

    .photo_uno {
        width: 160px;
        height: 160px;
        margin-top: 80px;
        margin-left: 90px;
    }

    .container-presentation {
        max-width: 270px;
        max-height: 230px;
        font-size: 17px;
        margin-left: 30px;
        margin-top: 50px;
        border-radius: 0px;
    }

    .fondo-1-1 {
        background-image: none;
    }

    .photo_2 {
        margin-left: -570px;
        margin-top: 290px;
    }

    .container-sections {
        margin-top: 100px;
    }

    .photo-3 {
        width: 240px;
    }

    .wallpaper_2 {
        background-image: none;
    }

    h2 {
        margin-top: 330px;
        margin-left: -630px;
        font-size: 17px;
    }

    .container-galery {
        background-image: none;
    }

    .foto {
        filter: blur(0px);
        margin-left: -34px;
        width: 300px;
        transform: rotate(0deg);
    }

    .socialNetworks {
        max-width: 100%;
        height: 110px;
        display: inline-flex;
    }

    .social {
        width: 30px;
    }

    .mySocialNetworks {
        font-size: none;
    }
}